.square {
  background: #fff;
  border: 10px solid #59a0c9fb;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 10px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}
